@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.rating button:hover ~ button svg {
    color: #71717a;
}

.rating:hover svg, .rating .selected {
    color: #ffc107;
}

[x-cloak] {
    display: none;
}
